body {
    background-size: cover;    
    background-image: url("/resource/loginBackground"); /*choose image from static resource*/
}

.center {

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {

    background-color: #6DE0F6;   
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    display: block;
    padding: 0.5rem;
    font-size: 16px;
    font-family: Arial;
}

.main-heading {

    font-size: 20px;
    color: rgb(255, 255, 255);
}

.sub-heading {

    font-size: 14px;
    color: rgb(255, 255, 255);
}

.input-icon {

    position: absolute;
    margin: 0.9rem 0.7rem;
}

.input-element {

    padding: 0.5rem 0rem 0.5rem 2rem;
    font-size: 16px;
}

.text-align-center {
    text-align: center;
}

.forgot-password-text {
    text-align: center;
    color: #2424c4;
    font-size: 14px;
    text-align: left;
}

.register-text {
    text-align: center;
    color: #141475;
    font-size: 14px;
    float: right;
}

.error {

    text-align: center;
    word-break: break-word;
    max-width: 20rem;
    color: #ff9e9e;
}
.image
{
  height: 30px;
  width: 30px;
}